<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>742110144219-8v3rd3vmgvjib083com89gchnpbqbeli.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.742110144219-8v3rd3vmgvjib083com89gchnpbqbeli</string>
	<key>API_KEY</key>
	<string>AIzaSyA7Aj7ZQNKp8mSUDvCGuko0m6h2hIk5Wco</string>
	<key>GCM_SENDER_ID</key>
	<string>742110144219</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pocketlantern</string>
	<key>PROJECT_ID</key>
	<string>pocket-lantern-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>pocket-lantern-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:742110144219:ios:4b2f9cf4d74944e6664efe</string>
	<key>DATABASE_URL</key>
	<string>https://pocket-lantern-dev.firebaseio.com</string>
</dict>
</plist>